<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>This is a home page.</h1>
    <h2>1+4=<%= 1+4 %></h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet
      repellendus magnam pariatur aperiam quidem dolorum similique facilis
      quisquam quaerat, quas eum molestiae perspiciatis.
    </p>
  </body>
</html>
